*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.top{
    width: 100%;
    height: 48px;
    background: #3B8AC3;
    span{
        float: left;
        display: block;
        line-height: 48px;
        font-size: 12px;
        color: #fff;
        margin-left: 400px;
    }
    ul{
        margin-left: 1120px;
        li{
            float: left;
            color: #fff;
            font-size: 12px;
            line-height: 48px;
            margin-left: 7px;
            a{
                color: #fff;
            }
        }
    }
}
header{
    width: 100%;
    height: 100px;
    .title{
        width:56%;
        height: 100px;
        margin: 0 auto;
        position: relative;
        img{
           float: left;
           margin-top: 20px;
           &:nth-child(3){
               position: absolute;
               left: 800px;
               top:25px;
           }
        }
        h2{
            color: #0a4d93;
            line-height: 100px;
        }
        p{
            position: absolute;
            left: 920px;
            top: 44px;
            color: #3B8AC3;
        }
    }
}
.nav{
    width: 100%;
    height: 48px;
    background: #3B8AC3;
    ul{
        margin-left: 405px;
        li{
           float: left;
           margin-right: 70px;
           a{
               display: block;
               line-height: 48px;
               color: #fff;
               &:hover{
                   color: #0A4D93;
               }
           }
        }
    }
}
.banner{
    width: 60%;
    height:auto;
    margin: 0 auto;
    position: relative;
    img{
       width: 100%; 
       position: absolute;
       left: 0;
       top: 0;
    }
}
.content{
    width: 60%;
    height:300px ;
    margin: 0 auto;
    margin-top: 300px;
    display: flex;
    .left{
        width: 50%;
        height: 300px;
        flex: 1;
    }
    .right{
        width: 50%;
        height: 300px;
        background: deepskyblue;
        p{
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #cbcbcb;
        }
    }
}
