/* Write your styles */
/*header开始*/

*{	
	margin: 0;
 	padding: 0;
	list-style: none;	
	text-decoration: none;
	color:#000000;
	font-family: '黑体';   
}
/*头部开始*/
.header-nav{
	width:1077px;
	height:123px;
	margin: 0 auto;
}
.logo{
	margin-top: 18px;
}
.nav{
	float: right;
}
.nav ul {
	height:123px;
}
.nav ul li{
	float:left;
	padding-left: 52px;
	line-height: 123px;
}
.nav ul li:nth-child(1){
	padding-left: 0px;
}
.nav ul li a:hover{
	color:#3399cc;
}
/*头部结束*/
/*banner开始*/

.banner{
	width:100%;
	overflow-x: hidden;
}
.banner img{
	position: relative;
	left:50%;
	margin-left:-960px;
}
/*banner结束*/
/*know-qs开始*/
.know-qs{
	overflow-x: hidden;
}
.title{
	margin-top: 49px;
	text-align: center;
	font-size:30px;
}
.title span:nth-child(3){
	margin-top:13px;
	padding: 20px 0px;
	border-top: 1px solid #cccccc;
	font-size: 25px;
	color: #cccccc;
	font-family: '方正舒体';

}
.title span{
	display: inline-block;
	width:416px;
	
}
.scroll-nav{
	overflow-x: hidden;
	position: relative;
}
.scroll-left{
	width: 50px;
	height: 50px;
	position: absolute;
	background: url('../img/left2.png') no-repeat ;
	left: 65px;
	top:39%;
	cursor: pointer;
}
.scroll-right{
	width: 50px;
	height: 50px;
	position: absolute;
	background: url('../img/right2.png') no-repeat;
	right: 65px;
	top:39%;
	cursor: pointer;
}
.scroll-left:hover{	
	background: url('../img/left1.png') no-repeat ;
}
.scroll-right:hover{
	background: url('../img/right1.png') no-repeat ;
}
.nav-img{
	width:1657px;
	overflow: hidden;
	height:381px;
	position: relative;
	left:50%;
	margin-left:-829px;
}
.scroll-nav ul{
	width: 2781px;
	position: absolute;
}
.scroll-nav ul li{
	float:left;
	padding-left: 29px;

}
.scroll-nav ul li p{
	text-align:center;
	font-size: 20px;
	padding-top:18px;
}




.know-culture{
	overflow: hidden;
	width: 1070px;
	margin:0 auto;
	padding-top: 57px;
}
.culture-top{
	width: 1070px;
	margin-bottom: 22px;
	position: relative;
}

.culture-top li{
	background: url('../img/dot.png');
	background-repeat: no-repeat;
    background-position-y: 12px;
	font-size: 30px;color: #ffffff;
	padding-left: 24px;
    margin-top: 49%;	
    margin-left: 72px;
    transition:all 2s;
    position:absolute;
}
.culture-top li span{
	display: inline-block;
	font-size: 20px;color: #ffffff;
	padding-left: 20px;
}
.culture-top:hover li{
	 margin-top: 44%; 
}
.culture-top:hover p{
	 margin-top: 49%; 
}
.culture-top .play{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -45px;
	margin-top: -45px;
	cursor: pointer;
}
.play img{
	max-width: 90px;
}
.culture-top p{
	color: #ffffff;
	font-size: 12px;
	width: 460px;
	text-indent: 2em;
    margin-left: 84px;
    margin-top: 56%;
    line-height: 20px;
    transition:all 2s;
    position: absolute;
}
.video{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	cursor: pointer;
	z-index: 100;
}
.video-stop{

	width: 32px;
	height: 32px;
	position: absolute;
	right: 0;
	z-index: 2;
	background: url(../img/stop.png) white;
}
.culture-masking{
	content: "";
	display: block;
	position:absolute;
	width:100%;
	height:4307px;
	left: 0;
	top: 0;
	background: #000000;
	filter:alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
	z-index: 99;
	display:none;
}



.culture-botton div{
	display: inline-block;
	height: 347px;
}
.culture-botton div:nth-child(2){
	float: right;
}




.culture-botton-masking{
	width: 523px;
	position: relative;
}
.culture-botton-masking:hover .culture-masking1{
	width: 523px;
	height: 347px;
	position: absolute;
	z-index: 1;
}
.culture-masking1{	
	width: 523px;
	height: 347px;
	position: absolute;
	z-index: -1;

}
.culture-botton-masking li{
	background: url('../img/dot.png');
	background-repeat: no-repeat;
    background-position-y: 12px;
	font-size: 30px;color: #ffffff;
	padding-left: 24px;
    margin-top: 265px;	
    margin-left: 35px;
    transition:all 2s;
    z-index: 1;
    position:absolute;
}
.culture-botton-masking li span{
	display: inline-block;
	font-size: 20px;color: #ffffff;
	padding-left: 20px;
}
.culture-botton-masking:hover li{
	 margin-top: 245px; 
}
.culture-botton-masking:hover .culture-masking1 p{
	 margin-top: 295px; 
}
.culture-masking1 p{
	color: #ffffff;
	font-size: 12px;
	width: 430px;
	text-indent: 2em;
    margin-left: 35px;
    margin-top: 338px;
    line-height: 20px;
    transition:all 2s;
}
.culture-masking1:before{
	content: "";
	display: table;
	position: absolute;
	width: 523px;
	height: 347px;
	background: #000000;
	filter:alpha(Opacity=20);
	-moz-opacity:0.2;
	opacity: 0.2;
	z-index: -1;
}





.know-details{
	position: relative;
	width: 1070px;
	height: 393px;
	margin: 0 auto;
	margin-top: 64px;
	background: url('../img/bac-details.png');
	background-repeat: no-repeat;
	background-position:left 108px top 0px;
}
.details-left{
	width: 339px;
	max-height: 262px;
	display: inline-block;
	margin:95px 0px 0px 105px;
}
.details-left p{
	font-size: 12px;
	line-height: 20px;
	text-indent:2em;
}
.details-left p:nth-child(1){
	text-indent:0em;
	font-size: 30px;
	padding-bottom:40px; 
}
.details-right{
	float: right;
	margin-top: 95px;
	margin-right: 83px;

}
.know-details a{
	position: absolute;
	width: 178px;
	height:45px;
	display: inline-block;
	background: #0098ca;
	color:#ffffff;
	font-size: 25px;
	line-height: 45px;
	text-align: center;
	left:557px;
	top:300px;
}
.know-details a img{
	margin-left: 5px;
}
/*know-qs结束*/
/*build-station开始*/
.build-station{
	width: 100%;
	background: #055eb2;
	background-image: url('../img/bac-station1.png');
	background-repeat: no-repeat;
	background-position: 1032px 60px;

}
.buid-center{
	width:1070px;
	margin: 0 auto;
	position: relative;
}
.station-left{
	width: 513px;
	padding-top:129px;
	padding-bottom:140px;
	display: inline-block;
}
.station-left p:nth-child(1){
	font-size: 70px;
	font-family: '华文楷体';
	color:#ffffff;
}
.station-left p:nth-child(2){
	font-size: 12px;
	text-indent:2em;
	color:#ffffff;
	line-height: 19px;
}
.station-left div span{
	display: inline-block;
	width: 143px;
	height:46px;
	line-height: 43px;
	text-align: center;
	background: url('../img/bac-station.png') no-repeat;
	color:#ffffff;
	margin-top: 46px;
}
.station-left div i{
	display: inline-block;
	margin:0 10px;
	width: 22px;
	height: 10px;
	background: url('../img/arrows2.png') no-repeat;
}
.station-right{
	box-shadow: 0px 0px 10px rgba(255, 255, 190, 0.4);	
	float: right;
	margin-top: 85px;
	height: 316px;
	width: 475px;
	position: relative;
	overflow: hidden;
}
.play1{
	position: absolute;
	overflow: hidden;
	left:50%;
	top: 50%;
	margin-left: -22.5px;
	margin-top: -22.5px; 
	    z-index: 1;
}
.play1 img{
	width: 45px;
	cursor: pointer;
}
.video1{
	display: block;
	position: absolute;
	left: 0;
	top: -53px;
	display: none;
	cursor: pointer;
	z-index: 100;
    border: 5px solid #000000;
}
#video1{
	display: block;
}
.video-stop1{
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	right: 0;
	z-index: 2;
	background-image: url('../img/stop.png');
}
/*build-station结束*/
/*news开始*/
.news{
	width: 1070px;
	margin:0 auto;
}
.news-info{
	height: 384px;
	overflow-y: hidden;
}
.info{
	float: right;

}
.info li{
	width:650px;
	margin-top: 20px;
	font-size: 12px;
	list-style: initial;
	color: #4c4c4c;
}
.info li span{
	float: right;
}
.news>a{
	margin:0 auto;
	display: block;
	width:178px;
	height: 45px;
	background: #0098ca;
	line-height: 45px;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	margin-top: 43px;
}

/*news结束*/
/*footer开始*/
.footer{
	text-align: center;
	padding: 99px 0px 85px 0px;
	background:#a0a0a0;
	margin-top: 39px;
}
.footer p{
	line-height: 24px;
}

/*footer结束*/
/*.cth:after{
	content: " ";
  display: table;
  	clear: both;
}*/






